.employment {
  @extend %container;
  background-image: url(../img/employment/bg_sec_9_1920.jpg);
  padding-bottom: 60px;

  @media (min-width: 1920px) {
    background-repeat: repeat-x;
    background-position: center top 70px;
  }
}

.employment__wrapper {
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 570px;
  }

  @media (min-width: 1920px) {
    display: flex;
    width: 1200px;
  }
}

.employment__box {
}

.employment__box-info {
  @include flex(column, space-between, center);
  padding-top: 40px;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    padding-top: 92px;
  }
}

.employment__underline {
  position: relative;
  margin-bottom: 36px;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: 768px) {
    margin-bottom: 66px;
  }

  @media (min-width: 1920px) {
    align-self: flex-start;
  }
}

.employment__subtitle {
  @include font-mixin("Museo_900", 0.88rem, $white);
  @extend %subtitle;
  max-width: 440px;

  &--blue {
    color: $main-blue;
  }

  @media (min-width: 768px) {
    text-align: left;
    align-self: flex-start;
  }

  @media (min-width: 1920px) {
    font-size: 1.125rem;
    line-height: 1.875rem;
    max-width: 500px;
  }
}

.employment__title {
  @extend %title;
  color: $white;
  text-align: center;

  &--blue {
    color: $main-blue;
  }

  &::before {
    @include before("", block);
    @extend %underline;
    background-color: $main-blue;

    @media (min-width: 768px) {
      width: 500px;
      bottom: -14px;
    }

    @media (min-width: 1920px) {
      width: 600px;
      height: 4px;
      bottom: -28px;
      left: 0;
      transform: none;
    }
  }

  @media (min-width: 768px) {
    width: 500px;
  }

  @media (min-width: 1920px) {
    text-align: left;
    width: 390px;
  }
}

.employment__perspective {
  @include font-mixin("Ubuntu-mono_B", 1.25rem, $white);
  width: 72%;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    display: block;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: $dark;
    background-color: $white;
    width: 100%;
    margin-bottom: 70px;
  }
}

.employment__perspective-list {
  @extend %list;
  position: relative;
  color: $white;
  margin-bottom: 54px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.employment__perspective-item {
  &:first-of-type {
    margin-bottom: 40px;
    width: 72%;

    @media (min-width: 768px) {
      width: 222px;
      margin-right: 54px;

      &::before {
        @include before("", block);
        background-image: url(../img/employment/decor-element_sec_9.png);
        background-repeat: no-repeat;
        background-position: center;
        left: -92px;
        top: -52px;
        width: 58px;
        height: 76px;
      }

      &::after {
        @include before("", block);
        background-color: $white;
        opacity: 0.6;
        right: 0;
        top: -22px;
        width: 636px;
        height: 1px;
        
      }
    }

    @media (min-width: 1920px) {
      width: 180px;

      &::before {
        background-image: url(../img/employment/decor-element_sec_9_1920.png);
        left: -264px;
        top: -62px;
        width: 75px;
        height: 99px;
      }

      &::after {
        left: -231px;
        top: -22px;
        width: 810px;
        height: 1px;
      }
    }
  }

  &:nth-of-type(2) {
    width: 90%;

    @media (min-width: 768px) {
      width: 420px;
    }

    @media (min-width: 1920px) {
      width: 340px;
    }
  }
}

.employment__perspective-text {
  @include font-mixin("OpenSans_SmB", 0.88rem, $light-smoke2);
  position: relative;
  padding-left: 40px;
  line-height: 1.714;
  text-align: left;
  margin: 0;

  @media (min-width: 768px) {
    padding-left: 0;
  }

  @media (min-width: 1920px) {
    font-size: 1rem;
    line-height: 1.624rem;
  }

  &--bold {
    font-family: OpenSans_ExB;
    color: $white;

    &::before {
      @include before("", block);
      border-width: 2px;
      border-color: rgb(255, 255, 255);
      border-style: solid;
      border-radius: 50%;
      background-color: rgb(0, 188, 212);
      box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.35);
      left: -2px;
      top: -30px;
      width: 17px;
      height: 17px;
      z-index: 10;
    }
  }
}

.employment__guarantee {
  @include font-mixin("OpenSans_SmB", 0.88rem, $light-smoke2);
  background-color: $dark-smoke3;
  padding: 16px;
  padding-top: 36px;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 145px;
    padding-right: 0;
    padding-left: 54px;
    box-shadow: 0px 15px 36px 0px rgba(0, 0, 0, 0.17);
  }

  @media (min-width: 1920px) {
    padding-top: 190px;
    width: 570px;
  }
}

.employment__guarantee-text {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
    @include font-mixin("Ubuntu-mono_B", 9.375rem, $dark-smoke3);
    padding-left: 0;
    line-height: 1.2;
    text-shadow: 0px 18px 11px rgba(0, 0, 0, 0.14);
    text-align: right;
    margin: 0;

    @media (min-width: 1920px) {
      font-size: 12.5rem;
      line-height: 1.2;
    }
  }
}

.employment__guarantee-about {
  line-height: 1.5;
  width: 85%;
  margin: 0;
  margin-bottom: 46px;

  &--bold {
    font-family: "OpenSans_ExB";
    color: $white;
  }

  @media (min-width: 768px) {
    &::before {
      @include before("dream", block);
      @include font-mixin("Ubuntu-mono_R", 1.875rem, $white);
      top: 14px;
      left: -62px;
      transform: rotate(90deg);

      @media (min-width: 1920px) {
        top: 137px;
        left: -82px;
        font-size: 2.5rem;
        line-height: 1.2;
      }
    }

    &::after {
      @include before("guarantee", block);
      @include font-mixin("Ubuntu-mono_R", 1.25rem, $white);
      top: 142px;
      right: -75px;
      transform: rotate(90deg);

      @media (min-width: 1920px) {
        top: 302px;
        right: -86px;
        font-size: 1.625rem;
        line-height: 1.2;
      }
    }
  }

  @media (min-width: 1920px) {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

.employment__guarantee-list {
  @extend %list;
  padding-bottom: 38px;
}

.employment__guarantee-item {
  position: relative;
  padding-left: 34px;

  &:not(:last-of-type) {
    margin-bottom: 30px;

    @media (min-width: 1920px) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: 768px) {
    background-color: $dark2;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
    padding-top: 42px;
    margin-left: 32px;
    width: 502px;
    min-height: 101px;
  }
}

.employment__guarantee-title {
  @include font-mixin("Ubuntu-mono_B", 1rem, $white);
  margin: 0;

  @media (min-width: 1920px) {
    font-size: 1.375rem;
    line-height: 1.2;
  }

  &::before {
    @include before("", block);
    background-color: $main-blue;
    left: 0;
    top: -16px;
    width: 103px;
    height: 1px;

    @media (min-width: 768px) {
      left: -30px;
      top: 24px;
    }
  }

  &::after {
    @include before(attr(data-title), flex);
    @include font-mixin("Ubuntu-mono_B", 1.5rem, $main-blue);
    align-items: center;
    justify-content: center;
    left: 0;
    top: -6px;
    @media (min-width: 768px) {
      left: -34px;
      top: 48%;
      transform: translatey(-50%);
    }
  }
}

.employment__guarantee-help {
  @include font-mixin("OpenSans_ExB", 0.875rem, $light-smoke2);
  line-height: 1.25rem;
  margin: 0;

  @media (min-width: 1920px) {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}
